<header>
    <nav class="navbar navbar-expand-md nav-bar-dark bg-dark">
        <div><a href="https://vlove.poetry.blog/" class="navbar-brand">vlove.Poetry</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthentication.isUserLoggerIn()" routerLink="/welcome/Vandana" class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedAuthentication.isUserLoggerIn()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedAuthentication.isUserLoggerIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthentication.isUserLoggerIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>
TOP MENU ELEMENTS <BR> <BR>